*{
  margin:0;
  padding:0; 
  
} 
.bordeRedondo{
  border-radius: 20px;
}
input,textarea{
  border:none; 
  border-bottom:2px solid #6699ff; 
}
input::placeholder,textarea::placeholder{
  color:white;
}
input:focus,textarea:focus{
 
  outline-style: none; 
}
button{
  box-shadow: 1px 1px 3px 2px #6699ff;
}
li{
  padding:5px;    
  list-style:disc; 
  margin:5px;
  cursor:pointer

}
